@use "../theme/colors" as theme;
@use "../utils/mixins" as mixins;

.site-footer {
  background-color: theme.$pokemon-yellow;
  color: theme.$pokemon-blue;
  padding: 20px 0;
  border-top: 4px solid theme.$pokemon-blue;

  .container {
    @include mixins.container;
    text-align: center;
  }

  p {
    font-size: 1rem;
    margin: 0;

    a {
      color: theme.$pokemon-blue;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: theme.$pokemon-red;
      }
    }
  }
}
