@use '../utils/variables' as vars;
@use '../theme/colors' as theme;
@use '../utils/mixins' as mixins;

*, *::before, *::after {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: theme.$background-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}


main {
  flex: 1;
}

  .container {
    @include mixins.container;
  }

  .main-scroll-area {
    height: 100vh;            
    overflow-y: auto;         
    scroll-behavior: smooth;  
  }
  
  footer {
    margin: 0;
  }