@use '../utils/variables' as vars;
@use '../theme/colors' as theme;
@use '../utils/mixins' as mixins;

*, *::before, *::after {
  box-sizing: border-box;
}


html,
body {
    background-color: theme.$background-light;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
  }

main {
  flex: 1;
}

  .container {
    @include mixins.container;
  }

  .main-scroll-area {
    height: 100vh;            
    overflow-y: auto;         
    scroll-behavior: smooth;  
  }
  