@use '../theme/colors' as theme;
@use '../utils/variables' as vars;
@use '../utils/mixins' as mixins;

.type-filters {
  margin: 2rem 0;

  .container {
    @include mixins.container;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: theme.$pokemon-blue;
  }

  .types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    .type-btn {
      padding: 0.5rem 1rem;
      border: none;
      background-color: theme.$pokemon-gray;
      border-radius: 999px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
      color: theme.$text-dark;

      &:hover {
        background-color: theme.$pokemon-blue;
        color: theme.$text-light;
      }

      &[data-type="fire"] {
        background-color: theme.$fire;
      }

      &[data-type="water"] {
        background-color: theme.$water;
      }

      &[data-type="grass"] {
        background-color: theme.$grass;
      }

      &[data-type="electric"] {
        background-color: theme.$electric;
      }
    }
  }
}