@use 'variables' as vars;

@mixin container {
  width: 100%;
  max-width: vars.$container-max-width; 
  margin: 0 auto;
  padding-left: vars.$container-padding;
  padding-right: vars.$container-padding;
  box-sizing: border-box;
}
